.nav {
	background: rgba(0 , 0, 0, 0.2);
	text-align: center;
	width: auto;
}
.dropdown-button {
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	padding: 15px 25px;
	margin: 10px 0;
	min-width: 150px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dropdown-button:hover  {
	background-color: #07880c;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 10px;
	margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
	left: -15px;
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .dropdown-button {
	width: 100%;
}

.dropdown-content .dropdown-button:first-child {
	margin-top: 0;
}

table{
  width:100%;
  table-layout: fixed;
}

.tbl-header{
  background-color: rgba(0,0,0,0.5);
 }

.tbl-content{
  height:600px;
  overflow-x:auto;
  margin-top: 0px;
  background: rgba(0 , 0, 0, 0.2);
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Rockwell Extra Bold,Rockwell Bold',monospace;
}

section{
  margin: 50px;
}
